.lead__title {
  margin: 0;
  width: 720px;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
}

@media (max-width: 767px) {
  .lead__title {
    width: calc( ( (100vw - 320px) / (767 - 320) ) * (720 - 288) + 288px);
    font-size: calc( ( (100vw - 320px)/(767 - 320) ) * (96 - 40) + 40px);
    line-height: 1.1;
  }
}

