.lead__subtitle {
  margin: 0;
  margin-top: 32px;
  height: 72px;
  width: 640px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
}

@media (max-width: 767px) {
  .lead__subtitle {
    margin-top: 16px;
    width: 288px;
    height: 40px;
    font-size: 16px;
    line-height: 1.25;
  }
}
