.lead__subtitle {
  margin: 0;
  margin-top: 32px;
  width: 640px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
}

@media (max-width: 767px) {
  .lead__subtitle {
    margin-top: calc( ( (100vw - 320px) / (767 - 320) ) * (32 - 16) + 16px);
    width: calc( ( (100vw - 320px) / (767 - 320) ) * (640 - 288) + 288px);
    font-size: calc( ( (100vw - 320px)/(767 - 320) ) * (30 - 16) + 16px);
    line-height: 1.25;
  }
}
