.place__link {
  margin: 0;
  margin-top: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-decoration: none;
  color: #fff;
  border-bottom: 2px solid #fff;
}
