.cover__title {
  margin: 0;
  color: #FFF;
  width: 650px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  z-index: 2;
  text-align: center;
}

@media (max-width: 767px) {
  .cover__title {
    width: calc( ( (100vw - 320px) / (767 - 320) ) * (650 - 288) + 288px);
    font-size: calc( ( (100vw - 320px)/(767 - 320) ) * (72 - 32) + 32px);
    line-height: 1.09;
  }
}
