.footer {
  display: flex;
  margin: var(--footer-margin-top) var(--footer-horizontal-margin) 24px;
  justify-content: space-between;
  align-items: flex-end;
}

@media (max-width: 767px) {
  .footer {
    min-height: 310px;
    flex-direction: column;
    margin: 64px 16px 24px 16px;
    align-items: flex-start;
  }
}
