.intro__title {
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
}

@media (max-width: 767px) {
  .intro__title {
    font-size: calc( ( (100vw - 320px)/(767 - 320) ) * (54 - 32) + 32px);
    line-height: 1.09;
  }
}
